name: Gerar APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do codigo
      uses: actions/checkout@v4

    - name: Configurar Java JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Dar permissao ao Gradlew
      run: chmod +x gradlew

    - name: Build com Gradle (Gerar APK Debug)
      run: ./gradlew assembleDebug --stacktrace

    - name: Upload do APK
      uses: actions/upload-artifact@v4
      with:
        name: meu-aplicativo-debug
        # O caminho abaixo busca qualquer arquivo .apk gerado no projeto
        path: "**/build/outputs/apk/debug/*.apk"
